@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

$primary-color: hsl(30, 38%, 92%);
$secondary-color: hsl(158, 36%, 37%);

body {
  background-color: $primary-color;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.preview-card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
  background-color: hsl(0, 0%, 100%);
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  &__banner img {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
  }
  &__main {
    padding: 2em;
  }
  &__title {
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
  &__title,
  &__paragraph {
    color: hsl(228, 12%, 48%);
  }
  h1 {
    font-family: 'Fraunces', sans-serif;
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 2rem;
    p:first-child {
      font-family: 'Fraunces', sans-serif;
      font-size: 2rem;
      color: $secondary-color;
    }
    p:last-child {
      text-decoration: line-through;
    }
  }
  button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 3rem;
    color: $primary-color;
    font-weight: bold;
    font-size: 1rem;
    background-color: $secondary-color;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: hsl(157, 37%, 22%);
  }
}

@media (min-width: 600px) {
  .preview-card {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__main {
      padding: 0 2em 0 2em;
    }
    picture {
      display: inline;
      min-width: 100%;
      min-height: 100%;
      padding: 0;
    }
    &__banner img {
      border-radius: 22px 0 0 22px;
      object-fit: cover;
    }
  }
}
